@model IEnumerable<RGLNR_Interface.Models.UserPermission>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wünsche Services GmbH &#128309; Monitoring Tool</title>
    <link href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-1.13.10/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/b-print-2.4.2/cr-1.7.0/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/" />
</head>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">End-to-End Monitoring</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <div class="navbar-nav" id="companyFilter">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mandant
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#" data-value="-1">Alle Mandanten</a></li>
                            <div class="dropdown-divider"></div>
                            @foreach (var option in new[] {
                            new { Value = 100, Text = "Wünsche Handelsgesellschaft mbH und Co. KG [100]" },
                            new { Value = 200, Text = "Dario GmbH & Co. KG [200]" },
                            new { Value = 400, Text = "Wünsche Fashion GmbH & Co. KG [400]" },
                            new { Value = 420, Text = "Duo Fashion GmbH [420]" },
                            new { Value = 510, Text = "Globaltronics GmbH & Co. KG [510]" },
                            new { Value = 575, Text = "Müller-Licht International GmbH [575]" } })
                            {
                                <li>
                                    <a class="dropdown-item @(!Model.Any(p => p.description == option.Value) ? "disabled" : "")"
                                       href="#" data-value="@option.Value">@option.Text</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#userPermissionsModal">Berechtigungen anzeigen</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="modal fade" id="userPermissionsModal" tabindex="-1" aria-labelledby="userPermissionsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userPermissionsModalLabel">Berechtigungen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="font-family: 'Tahoma, sans-serif' color: #444; font-size: 16px;">
                    Nutzer
                    <span style="font-weight: 600; color: #40303f; font-size: 18px; background-color: #f0f0f0; padding: 2px 4px; border-radius: 4px;">
                        @ViewBag.UserName
                    </span>
                    authentifiziert via sID <br />@ViewBag.userSID
                </p>
                @foreach (var permission in Model.Where(p => p.permissionID > 0))
                {
                    <p><span style="color: grey; font-style: italic; font-family: 'Lucida Console', Monaco, monospace;">@permission.permissionID -</span> <span style="font-family: 'Lucida Console', Monaco, monospace; font-weight: 700;">Mandant @permission.description</span></p>
                }
            </div>
            <div class="modal-footer">
                <a class="btn btn-outline-info" href="mailto:IT-Support@wuensche-sc.de?subject=EndToEnd%20Monitoring%20Berechtigungsanfrage&body=sID:%20 @Uri.EscapeDataString(ViewBag.UserSID)%0D%0AUsername:%20 @Uri.EscapeDataString(ViewBag.UserName)%0D%0A%0D%0AIch%20benötige%20Zugriff%20auf%20Mandanten:%0D%0A%0D%0A%0D%0A{hier Mandanten einfügen}">Berechtigungen anfragen</a>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>
<body>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" id="minRGLNR" class="form-control" placeholder="&#128317; Min. Rechnungslistennummer" aria-label="Min RGLNR">
                <span class="input-group-text">-</span>
                <input type="text" id="maxRGLNR" class="form-control" placeholder="&#128316; Max. Rechnungslistennummer" aria-label="Max RGLNR">
            </div>
        </div>
        <div class="col-md-6">
            <input type="text" id="pasteInvoices" class="form-control" placeholder="&#129534; Rechnungsnummern einfügen" aria-label="Rechnungsnummern separiert durch Komma oder Leerzeichen einfügen.">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            <div class="input-group">
                <input type="text" name="dates" id="abgdatumzeitRange" class="form-select" placeholder="&#128197; Zeitraum auswählen für" />
                <select id="dateColumnFilter" class="form-select">
                    <option value="datum">Datum</option>
                    <option value="fällig">Fälligkeit</option>
                    <option value="entry_date">Bestätigung</option>
                </select>
            </div>
        </div>
        <div class="col-sm">
            <button type="button" id="activateSearch" class="button-19" placeholder="Suchen" aria-label="Search">&#128269; Suchen</button>
        </div>
    </div>
    <table id="logRGLNRTable" class="display" style="width:100%" float="left">
        <thead>
            <tr>
                <th>Rechnungsliste</th>
                <th>Rechnung</th>
                <th>Datum</th>
                <th>Fällig</th>
                <th>Bestätigung</th>
                <th>Betrag</th>
                <th>EDI-Rechnung</th>
                <th>Job Nummer</th>
                <th>Lobster Profil</th>
                <th>Lobster Status</th>
            </tr>
        </thead>
    </table>
</body>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-1.13.10/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/b-print-2.4.2/cr-1.7.0/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
    <script>
        var currentCompanyFilter = '-1';

        document.querySelectorAll('.dropdown-item').forEach(item => {
            item.addEventListener('click', function () {
                var value = this.getAttribute('data-value');
                currentCompanyFilter = value; 

                document.getElementById('navbarDropdown').textContent = this.textContent;

                $('#logRGLNRTable').DataTable().ajax.reload(); 
            });
        });

        moment.locale('de');
        $(document).ready(function () {
            var table = $('#logRGLNRTable').DataTable({
                "processing": true,
                "serverSide": true,
                "colReorder": true,
                "ordering": false,
                "dom": "lfrBtip",
                "iDisplayLength": 10,
                "oLanguage": {
                    "sUrl": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json",
                    "sSearch": "Allgemeine Suche:"
                },
                buttons: [
                              {
                extend: 'copy',
                    exportOptions: {
                        columns: ':visible'
                    },
                    text: 'Kopieren',
                    className: 'button-18'
                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: ':visible'
                    },
                    className: 'button-18'
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':visible'
                    },
                    className: 'button-18'
                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':visible'
                    },
                    orientation: 'landscape',
                    pageSize: 'A3',
                    className: 'button-18'
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    },
                    text: 'Drucken',
                    className: 'button-18'
                }, 
                { 
                    extend: 'colvis', 
                    text: 'Spalten ein- und ausblenden',
                    className: 'button-18'
                } 
                ],

                "lengthMenu": [[5, 10, 25, 50, 100, 200, 100000], [5, 10, 25, 50, 100, 200, "Alle | ⚠ Nur auf gefilterte Daten anwenden ⚠"]],

                "ajax": {
                    "url": "@Url.Action("LoadData", "LOG_RGLNR")", 
                    "type": "POST",
                    "data": function (d) {
                        d.minRGLNR = $("#minRGLNR").val();
                        d.maxRGLNR = $("#maxRGLNR").val();
                        d.pasteInvoices = $("#pasteInvoices").val();
                        d.companyPrefix = currentCompanyFilter;
                        var dateRangePicker = $("#abgdatumzeitRange").data('daterangepicker');
                        if ($("#abgdatumzeitRange").val()) {
                            var selectedColumn = $('#dateColumnFilter').val();
                            if (selectedColumn === 'datum') {
                                d.startDate = dateRangePicker.startDate.format("YYYY-MM-DD HH:mm");
                                d.endDate = dateRangePicker.endDate.format("YYYY-MM-DD HH:mm");
                                d.faelligStart = null;
                                d.faelligEnd = null;
                                d.bestaetigungStart = null;
                                d.bestaetigungEnd = null;
                            } else if (selectedColumn == 'fällig') {
                                d.faelligStart = dateRangePicker.startDate.format("YYYY-MM-DD HH:mm");
                                d.faelligEnd = dateRangePicker.endDate.format("YYYY-MM-DD HH:mm");
                                d.startDate = null;
                                d.endDate = null;
                                d.bestaetigungStart = null;
                                d.bestaetigungEnd = null;
                            } else if (selectedColumn == 'entry_date') {
                                d.startDate = null;
                                d.endDate = null;
                                d.faelligStart = null;
                                d.faelligEnd = null;
                                d.bestaetigungStart = dateRangePicker.startDate.format("YYYY-MM-DD HH:mm");
                                d.bestaetigungEnd = dateRangePicker.endDate.format("YYYY-MM-DD HH:mm");
                            } else {
                                d.startDate = null;
                                d.endDate = null;
                                d.faelligStart = null;
                                d.faelligEnd = null;
                                d.bestaetigungStart = null;
                                d.bestaetigungEnd = null;
                            }
                        }
                    }
                },
                "columns": [
                    { "data": "rglnr" },
                    { "data": "rechnung" },
                    { "data": "datum", "render": function (data) { return moment(data).format("DD.MM.YYYY"); } },
                    { "data": "fällig", "render": function (data) { return moment(data).format("DD.MM.YYYY"); } },
                    {
                        "data": "entry_date", "render": function (data) {
                            if (data === "0001-01-01T00:00:00") {
                                return ''
                            } else {
                                return moment(data).format("DD.MM.YYYY");
                            }
                        }
                    },
                    { "data": "rechnungsbetrag" },
                    { 
                        "data": "ediStatus", "name": "EDIStatus", "autoWidth": true,
                        "render": function (data, type, row) {
                            if (data === "Übertagen") {
                                return "Ja"
                            } else if (data === "Bereit") {
                                return "Nein"
                            } else {
                                return data; 
                            }
                        }
                    },
                    { "data": "job_nr" },
                    { "data": "profile_name" },
                    { "data": "status" }
                ],
                "order": [[2, "desc"]],
                "deferRender": true
            });
            $('#abgdatumzeitRange').daterangepicker({
                
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Zurücksetzen',
                    applyLabel: 'Anwenden',
                    format: "DD.MM.YYYY HH:mm"
                }
            });

            $('#abgdatumzeitRange').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('YYYY-MM-DD HH:mm') + ' - ' + picker.endDate.format('YYYY-MM-DD HH:mm'));
                table.draw();
            });

            $('#abgdatumzeitRange').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
                table.draw();
            });
            $('#dateColumnFilter').on('change', function () {
                if ($("#abgdatumzeitRange").val()) {
                    table.draw();
                }
            });

            $('#companyFilter').on('change', function() {
                table.draw();
            });
            $('#activateSearch').on('click', function () {
                var minRGLNR = $('#minRGLNR').val();
                var maxRGLNR = $('#maxRGLNR').val();
                var pasteInvoices = $('#pasteInvoices').val();
                table.draw();
            });

        });
    </script>
}

