@model IEnumerable<RGLNR_Interface.Models.UserPermission>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wünsche Services GmbH &#128309; Monitoring Tool</title>
    <link href="https://cdn.datatables.net/1.13.6/css/dataTables.tailwindcss.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" />
    
</head>
<header class="antialiased">
    <nav class="bg-white border-gray-200 py-3">
        <div class="flex justify-between items-center w-full">
            <div class="flex items-center">
                <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <span class="text-2xl font-semibold whitespace-nowrap">End-To-End Dashboard</span>
                </a>
               
            </div>
            <div class="flex items-center space-x-4">
                <button type="button" href="#" data-modal-toggle="userPermissionsModal" data-modal-target="userPermissionsModal" class="sm:block inline-flex items-center justify-center text-gray-900 bg-white border border-gray-730 hover:bg-gray-100 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 focus:outline-none" id="user-menu-button" aria-expanded="false">
                    Berechtigungen Verwalten
                </button>

                <div class="relative">
                    <button id="navbarDropdown" data-dropdown-toggle="dropdownNavbar" type="button" class="sm:block inline-flex items-center justify-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-4 py-2 focus:outline-none h-[38px]">
                        Mandant Auswählen
                        <svg class="w-4 h-4 ml-0.5 inline-block" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <div id="dropdownNavbar" class="hidden bg-white text-base z-10 list-none divide-y divide-gray-100 rounded shadow my-4 w-[400px]">
                        <ul class="py-1" aria-labelledby="dropdownLargeButton">
                            <li>
                                <a class="dropdown-item block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" href="#" data-value="-1">Alle Mandanten</a>
                            </li>
                            <hr class="my-2 border-gray-200 dark:border-gray-600" />
                            @foreach (var option in new[] {
                            new { Value = 100, Text = "Wünsche Handelsgesellschaft mbH & Co. KG [100]" },
                            new { Value = 200, Text = "Dario GmbH & Co. KG [200]" },
                            new { Value = 300, Text = "Monz Handelsgesellschaft International mbH [300]" },
                            new { Value = 310, Text = "Monz International Verwaltungs GmbH [310]" },
                            new { Value = 400, Text = "Wünsche Fashion GmbH & Co. KG [400]" },
                            new { Value = 420, Text = "Duo Fashion GmbH [420]" },
                            new { Value = 430, Text = "Flexxtrade GmbH & Co. KG [430]" },
                            new { Value = 510, Text = "Globaltronics GmbH & Co. KG [510]" },
                            new { Value = 575, Text = "Müller-Licht International GmbH [575]" }
                            })
                            {
                                bool isDisabled = !Model.Any(p => p.description == option.Value);
                                <li>
                                    <a class="dropdown-item block w-full px-4 py-2 text-sm
                                       @(isDisabled ? "disabled custom-disabled text-gray-400 cursor-not-allowed opacity-50" : "text-gray-700 hover:bg-gray-100 cursor-pointer")"
                                       href="@(isDisabled ? "javascript:void(0);" : "#")"
                                       data-value="@option.Value"
                                       @(isDisabled ? "aria-disabled='true'" : "")>
                                       @option.Text
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="fixed inset-0 z-50 hidden justify-center items-center bg-black bg-opacity-0 transition-opacity ease-out duration-300" id="userPermissionsModal" tabindex="-1" aria-labelledby="userPermissionsModalLabel" aria-hidden="true">
    <div class="relative p-4 w-full max-w-2xl max-h-full transform transition-transform duration-300 ease-out scale-95 opacity-0">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Berechtigungen
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="userPermissionsModal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Schließen</span>
                </button>
            </div>
            <div class="p-4 md:p-5 space-y-4">
                <p style="font-family: 'Tahoma, sans-serif' color: #444; font-size: 16px;">
                    Nutzer
                    <span style="font-weight: 600; color: #40303f; font-size: 18px; background-color: #f0f0f0; padding: 2px 4px; border-radius: 4px;">
                        @ViewBag.UserName
                    </span>
                </p>
                @foreach (var permission in Model.Where(p => p.permissionID > 0))
                {
                    <p><span style="color: grey; font-style: italic; font-family: 'Lucida Console', Monaco, monospace;">@permission.permissionID -</span> <span style="font-family: 'Lucida Console', Monaco, monospace; font-weight: 700;">Mandant @permission.description</span></p>
                }
            </div>
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <a data-modal-hide="userPermissionsModal" type="button" id="sendEmailButton" href="mailto:IT-Support@wuensche-sc.de?subject=EndToEnd%20Monitoring%20Berechtigungsanfrage&body=sID:%20 @Uri.EscapeDataString(ViewBag.UserName)%0D%0AUsername:%20 @Uri.EscapeDataString(ViewBag.UserName)%0D%0A%0D%0AIch%20benötige%20Zugriff%20auf%20Mandanten:%0D%0A%0D%0A%0D%0A{hier Mandanten einfügen}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Berechtigungen anfragen</a>
                <button data-modal-hide="userPermissionsModal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Schließen</button>
            </div>
        </div>
    </div>
</div>
<div id="alert-border-1" class="hidden flex items-center p-4 mb-4 text-blue-800 border-t-4 border-blue-300 bg-blue-50 dark:text-blue-400 dark:bg-gray-800 dark:border-blue-800" role="alert">
    <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
    </svg>
    <div class="ms-3 text-sm font-medium">
        Ihr Email-Client wurde geöffnet. 
    </div>
    <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-blue-50 text-blue-500 rounded-lg focus:ring-2 focus:ring-blue-400 p-1.5 hover:bg-blue-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-blue-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-border-1" aria-label="Schließen">
        <span class="sr-only">Schließen</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
    </button>
</div>


<body>
    <div class="pt-5 pr-10 flex justify-center items-center ">
        <button class="tab px-4 py-2 text-sm font-medium text-gray-600 border-b-2 border-transparent hover:text-blue-600 hover:border-gray-300 cursor-pointer" data-filter="rglnrFilter">Rechnungsliste</button>
        <button class="tab px-4 py-2 text-sm font-medium text-gray-600 border-b-2 border-transparent hover:text-blue-600 hover:border-gray-300 cursor-pointer" data-filter="Invoices">Rechnung</button>
        <button class="tab px-4 py-2 text-sm font-medium text-gray-600 border-b-2 border-transparent hover:text-blue-600 hover:border-gray-300 cursor-pointer" data-filter="dateRangeFilter">Zeitraum</button>
    </div>

    <div id="rglnrFilter" class="hidden p-3">
        <div class="flex justify-center space-x-4">
            <input id="minRGLNR" type="number" placeholder="Von-Nr." class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-1/4 px-2">
            <span class="mx-4 text-gray-500 pt-2">-</span>
            <input id="maxRGLNR" type="number" placeholder="Bis-Nr." class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-1/4 px-2">
        </div>
    </div>

    <div id="Invoices" class="hidden p-3 flex flex-col items-center justify-center">
        <form class="max-w-lg mx-auto">
            <textarea id="pasteInvoices" rows="3" class="block p-4 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Rechnungsnummer(n) oder Liste einfügen..."></textarea>
        </form>
    </div>
    <div id="dateRangeFilter" class="hidden p-3 flex flex-col items-center justify-center">
        <div id="date-range-picker" class="flex justify-center space-x-4">
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                    </svg>
                </div>
                <input id="datepicker-range-start" name="start" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10" placeholder="Von" autocomplete="off">
            </div>
            <span class="mx-4 text-gray-500 pt-2">-</span>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                    </svg>
                </div>
                <input id="datepicker-range-end" name="end" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10" placeholder="Bis" autocomplete="off">
            </div>
            <span class="mx-4"></span>
            <div class="relative">
                <select id="dateColumnFilter" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
                    <option value="datum">Datum</option>
                    <option value="bestaetigung">Bestätigung</option>
                    <option value="faellig">Fällig</option>
                </select>
            </div>
        </div>
    </div>
    <div class="my-4">
        <hr class="full-width-hr" style="border-bottom: 2px solid gray; margin: 0;" />
    </div>



    <table id="logRGLNRTable" class="min-w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400 rounded-t-lg">
            <tr class="rounded-t-lg">
                <th class="px-6 py-3 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-200 rounded-tl-lg">Ziel</th>
                <th class="px-6 py-3 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-200">Debitor</th>
                <th class="px-6 py-3 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-200">Rechnungsliste</th>
                <th class="px-6 py-3 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-200">Rechnung</th>
                <th class="px-6 py-3 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-200">Buchung</th>
                <th class="px-6 py-3 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-200">Fällig</th>
                <th class="px-6 py-3 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-200">Bestätigung</th>
                <th class="px-6 py-3 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-200">Betrag</th>
                <th class="px-6 py-3 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-200">Anforderung Debitor</th>
                <th class="px-6 py-3 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-200">Debitorenreferenz</th>
                <th class="px-6 py-3 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-200">Erstellt Von</th>
                <th class="px-6 py-3 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-200">Erstellungsdatum</th>
                <th class="px-6 py-3 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-200">Job Nummer</th>
                <th class="px-6 py-3 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-200">Lobster Profil</th>
                <th class="px-6 py-3 bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-200 rounded-tr-lg">Lobster Status</th>
            </tr>
        </thead>
    </table>
    <div id="rowDetailsModal" data-modal-target="rowDetailsModal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 w-full h-full overflow-y-auto">
        <div class="relative p-4 w-full max-w-4xl h-full md:h-auto mx-auto">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <div class="flex justify-between items-center p-4 border-b dark:border-gray-600">
                    <h3 id="modalTitle" class="text-xl font-semibold text-gray-900 dark:text-white">
                        Details
                    </h3>
                    <button type="button" class="text-gray-400 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="rowDetailsModal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Schließen</span>
                    </button>
                </div>
                <div id="modalBody" class="p-6 space-y-6">
                </div>
                <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                    <button data-modal-hide="rowDetailsModal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none rounded-lg text-sm px-5 py-2.5 text-center">Schließen</button>
                </div>
            </div>
        </div>
    </div>
         
</body>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-1.13.10/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/b-print-2.4.2/cr-1.7.0/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.tailwindcss.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const modal = document.getElementById('userPermissionsModal');
            const modalContent = modal.querySelector('.relative.p-4');

            function showModal() {
                modal.classList.remove('hidden');
                setTimeout(() => {
                    modal.classList.add('bg-opacity-50'); 
                    modalContent.classList.add('scale-100', 'opacity-100'); 
                    modalContent.classList.remove('scale-95', 'opacity-0');
                }, 10);
            }

            function hideModal() {
                modal.classList.remove('bg-opacity-50'); 
                modalContent.classList.remove('scale-100', 'opacity-100'); 
                modalContent.classList.add('scale-95', 'opacity-0');
                setTimeout(() => {
                    modal.classList.add('hidden'); 
                }, 300); 
            }

            document.querySelectorAll('[data-modal-toggle="userPermissionsModal"]').forEach(button => {
                button.addEventListener('click', showModal);
            });

            document.querySelectorAll('[data-modal-hide="userPermissionsModal"]').forEach(button => {
                button.addEventListener('click', hideModal);
            });
        });


    </script>
    <script>

        document.addEventListener("DOMContentLoaded", function () {
            const tabs = document.querySelectorAll('.tab');
            let activeTab = tabs[1]; 
            const filterDiv = document.getElementById(activeTab.getAttribute('data-filter'));

            activeTab.classList.add('border-blue-600', 'text-blue-600');
            filterDiv.style.display = 'block';

            tabs.forEach(tab => {
                tab.addEventListener('click', function () {
                    const filterId = this.getAttribute('data-filter');
                    const filterDiv = document.getElementById(filterId);

                    if (activeTab !== this) {
                        const activeFilter = document.getElementById(activeTab.getAttribute('data-filter'));
                        activeFilter.style.display = 'none';
                        activeTab.classList.remove('border-blue-600', 'text-blue-600');

                        filterDiv.style.display = 'block';
                        this.classList.add('border-blue-600', 'text-blue-600');
                        activeTab = this;
                    }
                });
            });
        });


            
        function closeDropdown() {
            document.getElementById('dropdownNavbar').classList.add('hidden');
        }

        document.querySelectorAll('#dropdownNavbar a').forEach(item => {
            item.addEventListener('click', () => {
                closeDropdown();
            });
        });
        document.getElementById('sendEmailButton').addEventListener('click', function () {
            document.getElementById('alert-border-1').classList.remove('hidden');
        });

        document.querySelector('[data-dismiss-target="#alert-border-1"]').addEventListener('click', function () {
            document.getElementById('alert-border-1').classList.add('hidden');
        });

        var currentCompanyFilter = '-1';

        document.querySelectorAll('.dropdown-item').forEach(item => {
            item.addEventListener('click', function () {
                var value = this.getAttribute('data-value');
                currentCompanyFilter = value; 

                document.getElementById('navbarDropdown').textContent = this.textContent;

                $('#logRGLNRTable').DataTable().ajax.reload(); 
            });
        });


        document.addEventListener('DOMContentLoaded', function () {
            const dateRangePickerElement = document.getElementById("date-range-picker");
            const $datePicker1 = document.getElementById("datepicker-range-start");

            const $datePicker2 = document.getElementById("datepicker-range-end");

            const dateRangePicker = new DateRangePicker(dateRangePickerElement, {
                inputs: [$datePicker1, $datePicker2],
                language: 'de',
                format: 'dd.mm.yyyy',
                clearBtn: true,
                todayBtn: true,
                todayBtnMode: 1,
            });
        });

        var selectedField = 'searchallcategories';

        moment.locale('de');
        $(document).ready(function () {
            var table = $('#logRGLNRTable').DataTable({
                "processing": true,
                "serverSide": true,
                "colReorder": true,
                "ordering": true,
                "dom": '<"flex justify-between items-center p-2"' +
                    '<"my-custom-element p-2">' +
                    '<"l-built-in-elements flex items-center space-x-2 hidden"l>' +
                    '<"dt-built-in-elements hidden flex items-center space-x-6 ml-auto"' +
                    '<"flex-grow">' +
                    '<"dt-buttons flex items-center space-x-2 whitespace-nowrap"B>' +  
                    '>' +
                    '>' +
                    'rt' +
                    '<"flex justify-between items-center p-2"<i><p>>',

                "initComplete": function () {
                    $('#logRGLNRTable_length label').removeClass().addClass('text-sm text-gray-600');
                    $('#logRGLNRTable_length select').removeClass().addClass('text-sm px-3 py-1 border border-gray-300 rounded-lg bg-white');
                    $('#logRGLNRTable_paginate').addClass('text-sm space-x-2 flex items-center');
                    $('#logRGLNRTable_paginate .paginate_button').removeClass().addClass('text-sm px-2 py-1 bg-white border border-gray-300 rounded-lg hover:bg-gray-100');
                    $('#logRGLNRTable_info').addClass('text-sm text-gray-600');
                    $('.dt-built-in-elements').removeClass('hidden');

                    $('.l-built-in-elements').removeClass('hidden');
                    $('.my-custom-element').append(`
                <form id="generalsearchform" class="max-w-lg mx-auto">
                    <div class="relative flex">
                        <label for="search-dropdown" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                        <button id="dropdown-button" class="flex-shrink-0 z-10 inline-flex items-center py-2 px-3 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-l-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600" type="button">
                            Alle Kategorien
                            <svg class="w-2 h-2 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l4 4 4-4"/>
                            </svg>
                        </button>
                        <div id="dropdown" class="absolute top-full mt-2 left-0 z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
                                <li>
                                    <button type="button" data-field="searchallcategories" class="dropdown-search-item inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Alle Kategorien</button>
                                </li>
                                <hr class="my-2 border-gray-200 dark:border-gray-600" />
                                <li>
                                    <button type="button" data-field="searchziel" class="dropdown-search-item inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ziel</button>
                                </li>
                                <li>
                                    <button type="button" data-field="searchdebitor" class="dropdown-search-item inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Debitorenkonto</button>
                                </li>
                                <li>
                                    <button type="button" data-field="searchrglnr" class="dropdown-search-item inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Rechnungsliste</button>
                                </li>
                                <li>
                                    <button type="button" data-field="searchinvoice" class="dropdown-search-item inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Rechnungsnummer</button>
                                </li>
                                <li>
                                    <button type="button" data-field="searchdebitorrequest" class="dropdown-search-item inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Anforderung Debitor</button>
                                </li>
                                <li>
                                    <button type="button" data-field="searchdebitorreference" class="dropdown-search-item inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Debitorenreferenz</button>
                                </li>
                                <li>
                                    <button type="button" data-field="searchcreatedby" class="dropdown-search-item inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Erstellt Von</button>
                                </li>
                                <li>
                                    <button type="button" data-field="searchjobnr" class="dropdown-search-item inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Job Nummer</button>
                                </li>
                                <li>
                                    <button type="button" data-field="searchlobsterprofile" class="dropdown-search-item inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Lobster Profil</button>
                                </li>
                                <li>
                                    <button type="button" data-field="searchlobsterstatus" class="dropdown-search-item inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Lobster Status</button>
                                </li>
                            </ul>
                        </div>
                        <div class="relative w-full">
                            <input type="search" id="dynamicInput" class="block p-2 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-50 border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-l-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" title="Suchen oder 'NONE' für leere Werte eingeben" placeholder="Suchen..." autocomplete="off"/>
                            <button id="activateSearch" type="submit" class="absolute top-0 right-0 p-2 text-sm font-medium h-full text-white bg-blue-700 rounded-r-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 19l-4-4M15 8a7 7 0 1 1-14 0 7 7 0 0 1 14 0z"/>
                                </svg>
                                <span class="sr-only">Suche</span>
                            </button>
                        </div>
                    </div>
                </form>
            `);

     
                    $('.dropdown-search-item').on('click', function (event) {
                        event.preventDefault();
                        selectedField = $(this).data('field');  

                        var selectedCategory = $(this).text();

                        $('#dropdown-button').html(selectedCategory +
                            '<svg class="w-2 h-2 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">' +
                            '<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l4 4 4-4"/></svg>');

                        $('#dropdown').addClass('hidden');
                    });

                    document.getElementById("generalsearchform").addEventListener("submit", function (event) {
                        event.preventDefault();
                        var dynamicInputValue = $("dynamicInput").val();
                        if (dynamicInputValue === '') {
                            selectedField = null;
                            $('#dropdown-button').html('Alle Kategorien' +
                                '<svg class="w-2 h-2 ml-2" aria-hidden="true" ...></svg>');
                        }

                        table.draw();
                    });

                    $('#dropdown-button').on('click', function (event) {
                        event.preventDefault();
                        $('#dropdown').toggleClass('hidden');
                    });

                    $(document).on('click', function (event) {
                        if (!$(event.target).closest('#dropdown-button, #dropdown').length) {
                            $('#dropdown').addClass('hidden');
                        }
                    });

                },
                "language": {
                    "processing": "<div class='custom-processing flex items-center justify-center'>" +
                        "<div class='spinner animate-spin rounded-full h-16 w-16 border-t-4 border-b-4 border-blue-500'></div>" +
                        "<span class='ml-4 text-xl text-gray-600'>Daten werden geladen...</span>" +
                        "</div>",
                },
                buttons: [
                    {
                        extend: 'collection',
                        text: '<span class="flex items-center"><i class="mr-1 mt-0.5 fa-solid fa-table-columns h-4 w-4"></i>Spalten anpassen<svg class="ml-1 h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7" /></svg></span>',
                        className: 'inline-flex items-center justify-center rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700',
                        buttons: function (dt) {
                            var buttons = [];
                            dt.columns().every(function (idx) {
                                var column = this;
                                var title = $(column.header()).text();
                                buttons.push({
                                    text: function () {
                                        var checked = column.visible() ? 'checked' : '';
                                        return '<label class="flex items-center">' +
                                            '<input type="checkbox" ' + checked + ' class="mr-2 dt-checkbox text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" ' +
                                            'data-column-index="' + idx + '" onclick="event.stopPropagation();">' +
                                            title + '</label>';
                                    },
                                    action: function () {
                                        
                                    },
                                    className: 'dt-button'
                                });
                            });
                            return buttons;
                        },
                        init: function (dt, node, config) {
                            $(document).on('change', 'input.dt-checkbox', function () {
                                var colIdx = $(this).data('column-index');
                                var vis = $(this).prop('checked');
                                dt.column(colIdx).visible(vis);
                            });
                        }
                    },
                    {
                        extend: 'collection',
                        text: '<span class="flex items-center"><i class="mr-1 fas fa-download h-4 w-4"></i>Exportieren <svg class="ml-1 h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7" /></svg></span>',
                        className: 'inline-flex items-center justify-center rounded-lg text-white bg-blue-700 px-3 py-2 text-sm font-medium hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800',
                        buttons: [
                            {
                                extend: 'copy',
                                exportOptions: { columns: ':visible' },
                                text: '<i class="mr-1 fas fa-copy h-4 w-4"></i> Kopieren',
                                className: 'dt-button-option'
                            },
                            {
                                extend: 'csv',
                                exportOptions: { columns: ':visible' },
                                text: '<i class="mr-1 fas fa-file-csv h-4 w-4"></i> CSV',
                                className: 'dt-button-option'
                            },
                            {
                                extend: 'excel',
                                exportOptions: { columns: ':visible' },
                                text: '<i class="mr-1 fas fa-file-excel h-4 w-4"></i> Excel',
                                className: 'dt-button-option'
                            },
                            {
                                extend: 'pdf',
                                exportOptions: { columns: ':visible' },
                                orientation: 'landscape',
                                pageSize: 'A3',
                                text: '<i class="mr-1 fas fa-file-pdf h-4 w-4"></i> PDF',
                                className: 'dt-button-option'
                            },
                            {
                                extend: 'print',
                                exportOptions: { columns: ':visible' },
                                text: '<i class="mr-1 fas fa-print h-4 w-4"></i> Drucken',
                                className: 'dt-button-option'
                            }
                        ]
                    }
                ],
                "iDisplayLength": 15,
                "oLanguage": {
                    "sUrl": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json",
                },
                columnDefs: [
                    {
                        targets: [5, 8, 12, 13, 14],
                        visible: false
                    }
                ],
                "lengthMenu": [[5, 10, 15, 20, 25, 50, 100, 200, 100000], [5, 10, 15, 20, 25, 50, 100, 200, "Alle"]],

                "ajax": {
                    "url": "@Url.Action("LoadData", "LOG_RGLNR")",
                    "type": "POST",
                    "data": function (d) {
                        d.minRGLNR = $("#minRGLNR").val();
                        d.maxRGLNR = $("#maxRGLNR").val();
                        d.pasteInvoices = $("#pasteInvoices").val();
                        d.companyPrefix = currentCompanyFilter;
                        d.searchField = selectedField;
                        d.searchValue = $("#dynamicInput").val();
                        var startDateStr = document.getElementById('datepicker-range-start').value;
                        var endDateStr = document.getElementById('datepicker-range-end').value;
                        var dynamicInputValue = $("#dynamicInput").val();
                        d.searchValue = dynamicInputValue === '' ? null : dynamicInputValue;
                        if (startDateStr && endDateStr) {
                            var selectedColumn = document.getElementById('dateColumnFilter').value;

                            function formatDate(inputDate) {
                                var parts = inputDate.split('.');
                                return parts[2] + '-' + parts[1] + '-' + parts[0];
                            }
                            
                            var formattedStartDate = formatDate(startDateStr);
                            var formattedEndDate = formatDate(endDateStr);

                            if (selectedColumn === 'datum') {
                                d.startDate = formattedStartDate;
                                d.endDate = formattedEndDate;
                                d.faelligStart = null;
                                d.faelligEnd = null;
                                d.bestaetigungStart = null;
                                d.bestaetigungEnd = null;
                            } else if (selectedColumn === 'faellig') {
                                d.faelligStart = formattedStartDate;
                                d.faelligEnd = formattedEndDate;
                                d.startDate = null;
                                d.endDate = null;
                                d.bestaetigungStart = null;
                                d.bestaetigungEnd = null;
                            } else if (selectedColumn === 'bestaetigung') {
                                d.bestaetigungStart = formattedStartDate;
                                d.bestaetigungEnd = formattedEndDate;
                                d.startDate = null;
                                d.endDate = null;
                                d.faelligStart = null;
                                d.faelligEnd = null;
                            } else {
                                d.startDate = null;
                                d.endDate = null;
                                d.faelligStart = null;
                                d.faelligEnd = null;
                                d.bestaetigungStart = null;
                                d.bestaetigungEnd = null;
                            }
                        } else {
                            d.startDate = null;
                            d.endDate = null;
                            d.faelligStart = null;
                            d.faelligEnd = null;
                            d.bestaetigungStart = null;
                            d.bestaetigungEnd = null;
                        }
                    }
                },
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            var badges = '';
                            const dest = data.destinationType
                            if (data.destinationType) {
                                badges += `<span class="text-white bg-gradient-to-r from-blue-400 via-blue-450 to-blue-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 rounded px-2 py-1 mr-1">${dest}</span>`;
                            }
                            if (data.profile_name) {
                                badges += '<span class="text-white bg-gradient-to-r from-purple-400 via-purple-450 to-purple-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 px-2 py-1 rounded mr-1">EDI</span>';
                            }
                            return badges || '';
                        }
                    },
                    { "data": "debitorenkonto" },
                    { "data": "rglnr" },
                    { "data": "rechnung" },
                    { "data": "datum", "render": function (data) { return moment(data).format("DD.MM.YYYY"); } },
                    { "data": "fällig", "render": function (data) { return moment(data).format("DD.MM.YYYY"); } },
                    {
                        "data": "entry_date", "render": function (data) {
                            if (!moment(data).isValid()) {
                                return ''
                            } else {
                                return moment(data).format("DD.MM.YYYY");
                            }
                        }
                    },
                    { "data": "rechnungsbetrag" },
                    { "data": "materialanforderung" },
                    { "data": "ihrzeichen" },
                    { "data": "createdby" },
                    {
                        "data": "createddatetime", "render": function (data) {
                            if (!moment(data).isValid()) {
                                return ''
                            } else {
                                return moment(data).format("DD.MM.YYYY HH:mm");
                            }
                        }
                    },
                    { "data": "job_nr" },
                    { "data": "profile_name" },
                    { "data": "status" },

                ],
                "order": [[4, "desc"]],
                "deferRender": true,
                "stripeClasses": [],
                "rowCallback": function (row, data, index) {
                    $(row).addClass('bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600');

                    $('td', row).addClass('px-4 py-2 text-gray-500 dark:text-gray-400');
                }
            });

            function handleRGLNRChange() {
                var minRGLNR = $('#minRGLNR').val();
                var maxRGLNR = $('#maxRGLNR').val();
                var pasteInvoices = $('#pasteInvoices').val();
                table.draw();
            }

            $('#minRGLNR').on('input', handleRGLNRChange);
            $('#maxRGLNR').on('input', handleRGLNRChange);
            $('#pasteInvoices').on('input', handleRGLNRChange);

            document.getElementById('dateColumnFilter').addEventListener('change', function () {
                if (document.getElementById('datepicker-range-start').value || document.getElementById('datepicker-range-end').value) {
                    table.draw();
                }
            });
            $('#datepicker-range-start, #datepicker-range-end').on('changeDate', function (ev, picker) {
                console.log('Zeitraum angewendett');
                table.draw();  
            });

            table.on('buttons-popover.dt', function () {
                $('.dt-button-collection .dt-button').addClass('dt-button-option');
            });
            $('#logRGLNRTable_paginate').addClass('text-sm space-x-2 flex items-center');

            $('#logRGLNRTable_paginate .paginate_button').removeClass().addClass('text-sm px-3 py-1 bg-white border border-gray-300 rounded-lg hover:bg-gray-100');

            $('#logRGLNRTable_info').addClass('text-sm text-gray-600');

            $('#logRGLNRTable_length select').removeClass().addClass('text-sm px-3 py-1 border border-gray-300 rounded-lg bg-white');

            $('#companyFilter').on('change', function(e) {
                table.draw();
            });
            $('#logRGLNRTable tbody').on('dblclick', 'tr', function () {
                var data = table.row(this).data();
                if (data) {
                    var invoiceId = data.rechnung;
                    var entry_date = moment(data.entry_date).format('YYYY-MM-DD, HH:mm:ss');
                    $.ajax({
                        "url": '@Url.Action("GetInvoiceDetails", "LOG_RGLNR")',
                        "type": "POST",
                        "data": { invoiceId, entry_date},
                        "success": function (response) {
                            showModalWithData(response);
                        },
                        "error": function (xhr, status, error) {
                            console.error('Fehler: ', error);
                        }
                    });
                }
            });

            function showModalWithData(dataArray) {
                $('#modalTitle').text('Details zu Rechnung: ' + dataArray[0].rechnung);

                var tabsHeader = `
                    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700" id="tabs" data-tabs-toggle="#tabs-content" role="tablist">
                    `;
                var tabsContent = '<div id="tabs-content">';

                dataArray.forEach(function (data, index) {
                    var tabId = 'tab-' + index;
                    var contentId = 'tab-content-' + index;

                    var tabButtonClass = index === 0
                        ? 'inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active'
                        : 'inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300';

                    tabsHeader += `
                        <li class="mr-2" role="presentation">
                            <button class="${tabButtonClass}" id="${tabId}" data-tabs-target="#${contentId}" type="button" role="tab" aria-controls="${contentId}" aria-selected="${index === 0 ? 'true' : 'false'}">
                                Eintrag ${index + 1} (${moment(data.datum).format('DD.MM.YYYY')})
                            </button>
                        </li>`;

                    var contentClass = index === 0
                        ? 'p-4 bg-gray-50 rounded-lg dark:bg-gray-800'
                        : 'hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800';

                    tabsContent += `
                    <div class="${contentClass} p-4" id="${contentId}" role="tabpanel" aria-labelledby="${tabId}">
                        <div class="border-b-2 pb-4 mb-4">

                            <p><strong>Rechnungsliste:</strong> ${data.rglnr ? data.rglnr : '<span class="text-gray-500 italic">Nicht verfügbar</span>'}</p>
                            <p><strong>Debitorenkonto:</strong> ${data.debitorenkonto ? data.debitorenkonto : '<span class="text-gray-500 italic">Nicht verfügbar</span>'}</p>
                            <p><strong>HOS:</strong> ${data.hos ? data.hos : '<span class="text-gray-500 italic">Nicht verfügbar</span>'}</p>
                            <p><strong>Erstellungsdatum:</strong> ${data.createddatetime ? moment(data.createddatetime).format('DD.MM.YYYY HH:mm.ss') : '<span class="text-gray-500 italic">Erstellungsdatum nicht verfügbar</span>'}</p>
                            <p><strong>Buchung:</strong> ${data.datum ? moment(data.datum).format('DD.MM.YYYY') : '<span class="text-gray-500 italic">Kein Datum verfügbar</span>'}</p>
                            <p><strong>Fällig:</strong> ${data.fällig ? moment(data.fällig).format('DD.MM.YYYY') : '<span class="text-gray-500 italic">Fälligkeitsdatum nicht festgelegt</span>'}</p>
                            <p><strong>Bestätigung:</strong> ${data.entry_date ? moment(data.entry_date).format('DD.MM.YYYY HH:mm') : '<span class="text-gray-500 italic">Bestätigung nicht verfügbar</span>'}</p>
                            <p><strong>Betrag:</strong> ${data.rechnungsbetrag ? data.rechnungsbetrag : '<span class="text-gray-500 italic">Betrag nicht angegeben</span>'}</p>
                            <p><strong>Anforderung Debitor:</strong> ${data.materialanforderung ? data.materialanforderung : '<span class="text-gray-500 italic">Nicht verfügbar</span>'}</p>
                            <p><strong>Debitorenreferenz:</strong> ${data.ihrzeichen ? data.ihrzeichen : '<span class="text-gray-500 italic">Nicht verfügbar</span>'}</p>
                            <p><strong>Job Nummer:</strong> ${data.job_nr ? data.job_nr : '<span class="text-gray-500 italic">Keine Jobnummer</span>'}</p>
                            <p><strong>Lobster Profil:</strong> ${data.profile_name ? data.profile_name : '<span class="text-gray-500 italic">Profil nicht verfügbar</span>'}</p>
                            <p><strong>Lobster Status:</strong> ${data.status ? data.status : '<span class="text-gray-500 italic">Status nicht verfügbar</span>'}</p>
                        </div>

                        <div>
                            <h2 class="text-lg font-semibold text-gray-800 mb-2">Lasernet</h2>
                            <p><strong>Drucker:</strong> ${data.printer ? data.printer : '<span class="text-gray-500 italic">Kein Drucker verfügbar</span>'}</p>
                            <p><strong>Email Von:</strong> ${data.emailfrom ? data.emailfrom : '<span class="text-gray-500 italic">Nicht verfügbar</span>'}</p>
                            <p><strong>Email Zu:</strong> ${data.emailto ? data.emailto : '<span class="text-gray-500 italic">Nicht verfügbar</span>'}</p>
                            <p><strong>Port:</strong> ${data.customport ? data.customport : '<span class="text-gray-500 italic">Kein Port verfügbar</span>'}</p>
                        </div>

                    </div>
                `;
                });

                tabsHeader += '</ul>';
                tabsContent += '</div>';

                var modalContent = tabsHeader + tabsContent;

                $('#modalBody').html(modalContent);

                initializeTabs();

                var modalElement = document.getElementById('rowDetailsModal');
                var modal = new Modal(modalElement);
                modal.show();

                document.querySelectorAll('[data-modal-hide="rowDetailsModal"]').forEach((button) => {
                    button.addEventListener('click', function () {
                        modal.hide();
                    });
                });
            }

            function initializeTabs() {
                const tabs = document.querySelectorAll('#tabs button');
                let activeTab = tabs[0]; 

                document.querySelector(activeTab.getAttribute('data-tabs-target')).classList.remove('hidden');

                tabs.forEach(tab => {
                    tab.addEventListener('click', function () {
                        document.querySelector(activeTab.getAttribute('data-tabs-target')).classList.add('hidden');
                        activeTab.classList.remove('text-blue-600', 'border-blue-600');

                        const newContent = document.querySelector(this.getAttribute('data-tabs-target'));
                        newContent.classList.remove('hidden');
                        this.classList.add('text-blue-600', 'border-blue-600');

                        activeTab = this;
                    });
                });
            }
        });
    </script>
}